
*{
    margin: 0;
    padding: 0;
}
.landing-image{
    background-image: url("public/frrrrnt image.jpg");
    width: 75.2rem;
    height: 40rem;
    background-size: cover;
}

.landing-taxt{
    margin: 0;
    background-color: rgb(188, 217, 217);
    font-family: sans-serif;
    width: 75.2rem;
    height: 3rem;
    display: flex;
align-items: center;
justify-content: center;

}

.landing-taxt-h2{
    margin-left: 5rem;
}

.bg{
    background-image: url("public/home image11.jpg");
    background-size: cover;
    height: 40rem;
    width: 75.2rem;
    background-position: center;
    }

.first-logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    margin-left: 2rem
}

.first-logo:hover{
      cursor: pointer;
    transform: scale(1.1);
}

.navbar{
    background-color: rgb(220, 224, 179);
    height: 5rem;
    /* width: 73.2rem; */
    display: flex;

    font-size: 1.2rem;
    gap: 3rem;
    align-items: center;
    padding-left: 0rem;
    font-family: sans-serif;
    
}
.navbar-taxt{
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
    gap: 3rem;

}
.navbar a{
    text-decoration: none;
}
 
.about-content{
    display: flex;
justify-content: center;
align-items: center;
background-color: azure;
height: 30rem;
width: 75.3rem;
gap: 5rem;
}

.about1{
    height: 18rem;
    width: 30rem;
    background-color: rgb(164, 203, 23);
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    line-height: 2rem;
    margin-left: 1rem;
    transition: all 0.5s ease;
}

.about2{
    height: 18rem;
    width: 30rem;
    background-color: rgb(43, 202, 146);
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    line-height: 2rem;
    transition: all 0.5s ease;
     font-family: sans-serif;
}

 .about3{
    height: 18rem;
    width: 30rem;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 1rem;
align-content: center;
line-height: 2rem;
margin-right: 1rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 }

.foot{
    display: flex;
    justify-content: end;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 71.3rem;
    background-color: rgb(187, 195, 168);
    padding-right: 2rem;
    padding-left: 2rem;
transition: all 0.5s ease;
font-family: sans-serif;
    line-height: 2rem;
}
.social-links a{
  text-decoration: none;
  display: flex;
  margin: 10px;
  font-size: 10px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 8px;
line-height: 1rem;
}
.social-links :hover{
    cursor: pointer;
    transform: scale(1.1);
     transition: all 0.5s ease;
}

.contact-info a{
text-decoration: none;
color: black;
font-size: 16px;
width: 20rem;
line-height: 2rem;
}

.contact-info a:hover{
color: blue;
}

.footer-logo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-logo:hover{
      cursor: pointer;
    transform: scale(1.1);
}


.services-container{
    background-color: rgb(198, 231, 220);
    gap: .5rem;
    height: 153.8rem;
    width: 75.2rem;
    gap: 2rem;
    text-align: center;
    transition: all 0.5s ease;
}


.services-box-container{
display: grid;
grid-template-columns:  repeat(2,50%);
row-gap: .2rem;
column-gap: .2rem;
width: 100%;
text-align: center;

}

.services-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 183, 206);
    height: 3rem;
    font-family: sans-serif;
    width: 75.3rem;
}
.services-box2{
background-color: #cb95c5;
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 
}

.image1{

    height: 30rem;
    width: 37.5rem   
}

.image2{
    height: 30rem;
    width: 37.5rem;
}

.services-box3{
background-color: #b78e14;
/* padding: 2rem; */
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
}


.services-box4{
background-color: rgb(109, 109, 169);
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
 transition: all 0.5s ease;
  font-family: sans-serif;
}

.image3{
      height: 30rem;
    width: 37.5rem;
    
}



.services-box5{
background-color: rgb(168, 40, 171);
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
}

.image4{
      height: 30rem;
    width: 37.5rem;

}

.services-box6{
   /* padding: 2rem;   */
background-color: rgb(236, 3, 147);
text-align: center;
height: 30rem;
box-shadow: 2rem;
justify-content: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 
}

.image5{
      height: 30rem;
    width: 37.5rem;
}

.content{

    font-size: 1rem;
   font-family: sans-serif; 
    color: hsl(81, 100%, 3%);
    text-decoration: underline 
  
    
}
.services-box5 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.services-box6 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box4 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box3 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box2 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}
.front-image{
    height: 50rem;
    width: 75rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #87af90, #c07d7d, #8574b3);
  background-size: cover;
  min-height: 100vh;
}
.full-contact-container{
    display: flex;
    justify-content: center;
}

.contact-container {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(135deg, #bdf20d, #a78bfa);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.contact-container h2 {
  margin-bottom: 0px;
  font-size: 25px;
  color: #5c10f4;
}
.contact-container h1{
 margin-bottom: 30px
}

form {
  display: flex;
  flex-direction: column;

}

label {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

input {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #e6e6e6;
  font-size: 15px;
}

textarea {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #e6e6e6;
  height: 100px;
  font-size: 15px;
  resize: none;
}

button {
  margin-top: 25px;
  width: 160px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #ff00cc, #7b2ff7);
  color: white;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.ride-container{
    background-image: url("public/plain back.jpg");
      width: 75.3rem;
    height: 40rem;
    background-size: cover;
}
.taxt-ride-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    width: 45rem;
   size: 5rem;
   padding-left: 15rem;
   font-size: 1.5rem;
   font-family: sans-serif;
   input{
    height: 2.5rem;
    background-color: #c6dcb1;
    border-radius: 1rem;
   }
}
.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: #c4b484;
}

.login-form{
  width:300px;

  display:flex;
  flex-direction:column;
}

.login-input{
  margin:10px 0;
  padding:8px;
  height: 40px;
  width: 400px;
  background-color: azure(228, 241, 241);
}

.login-button{
  background:green;
  color:white;
  padding:10px;
  border:none;
  cursor:pointer;
}

.toggle-link{
  margin-top:10px;
  text-align:center;
  color:rgb(44, 5, 215);
  cursor:pointer;
  text-decoration: underline;
}