
body{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url("public/front page image.jpg");
    background-size: cover;
    height: 50rem;
    width: 75rem;
    background-position: center;


    }

.first-logo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.first-logo:hover{
      cursor: pointer;
    transform: scale(1.1);
}

.header-style{
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-decoration: underline;
    align-items: center;
    background-color: rgb(127, 200, 139);
    height: 4rem;
    font-size: 1.5rem;
    color: rgb(78, 12, 232);
}

.navbar{
    background-color: rgb(218, 196, 32);
    height: 7rem;
    width: 73rem;
    display: flex;
    justify-content: left;
    gap: 3rem;
    font-size: 1.5rem;
    justify-content: left;
    align-items: center;
    padding-right: 2rem;
}

.contact{
 background-color: rgb(127, 255, 212);
 height: 25rem;
 width: 75rem;
display: flex;
justify-content: center;
gap: 2rem;
align-items: center;
 }
 .instagram{
    height: 6rem;
    width: 6rem;
 }
.telegram{
    height: 6rem;
    width: 6rem;
}

.about-content{
    display: flex;
justify-content: center;
align-items: center;
background-color: aqua;
height: 25rem;
width: 75rem;
gap: 5rem;
}
.about-content:hover{
    background-color: #cdf909;

}
.about1{
    height: 18rem;
    width: 25rem;
    background-color: blueviolet;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    
}
.about1:hover{
    background-color: #e9188e;
    transform: scale(1.1);
}

.about2{
    height: 18rem;
    width: 25rem;
    background-color: rgb(43, 202, 146);
    text-align: center;
    border-radius: 1rem;
}
.about2:hover{
    background-color: rgb(18, 182, 61);
    transform: scale(1.1);
}
 .about3{
    height: 18rem;
    width: 25rem;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 1rem;

 }
 .about3:hover{
    background-color: #e20b15;
    transform: scale(1.1);
 }
.foot{
    display: flex;
    justify-content: end;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 71rem;
    background-color: rgb(236, 6, 94);
    padding-right: 2rem;
    padding-left: 2rem;
    
}
.foot:hover{
    background-color: rgb(45, 138, 60);
}
.footer-instgram{
    height: 2.5rem;
    width: 2.5rem;
border-radius: 50%;
}


.footer-telegram{
    height: 2.5rem;
    width: 2.5rem;
border-radius: 50%;
}

.footer-logo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.footer-facebook{
    height: 3rem;
    width: 3rem;
}

.services-container{
    background-color: aquamarine;
    gap: .5rem;
    height: 131rem;
    width: 75rem;
    gap: 2rem;
    text-align: center;
}
.services-container:hover{
    background-color: #306087;
    
}
.services-box-container{
display: grid;
grid-template-columns:  repeat(2,50%);
row-gap: .2rem;
column-gap: .2rem;
width: 100%;
}

.services-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 11, 240);
    font-size: 1.5rem;
    height: 5rem;
    text-decoration: underline;
border-radius: .5rem;

}
.services-box2{
background-color: blue;
/* padding: 2rem; */
height: 25rem;
text-align: center;
justify-content: center;
border-radius: 1rem;

}
.image1{
    border-radius: 1rem;
    height: 25rem;
    width: 37.5rem   
}
.image1:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.services-box2:hover{
    background-color: #e9188e;
    cursor: pointer;
    transform: scale(1.1);
}
.image2{
    height: 25rem;
    width: 37.5rem;
    border-radius: 1rem;
}
.image2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.services-box3{
background-color: #b78e14;
/* padding: 2rem; */
height: 25rem;
text-align: center;
border-radius: 1rem;

}

.services-box3:hover{
    background-color: #e35c08;
    cursor: pointer;
    transform: scale(1.1);
}
.services-box4{
background-color: rgb(109, 109, 169);
height: 25rem;
text-align: center;
border-radius: 1rem;

}
.image3{
      height: 25rem;
    width: 37.5rem;
    border-radius: 1rem;
}
.image3:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.services-box4:hover{
    background-color: #e20b15;
    cursor: pointer;
    transform: scale(1.1);
}
.services-box5{
   /* padding: 2rem; */
background-color: rgb(168, 40, 171);
height: 25rem;
text-align: center;
border-radius: 1rem;

}
.image4{
      height: 25rem;
    width: 37.5rem;
    border-radius: 1rem;
}
.image4:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.services-box5:hover{
    background-color: #3908ca;
    cursor: pointer;
    transform: scale(1.1);
}
.services-box6{
   /* padding: 2rem;   */
background-color: rgb(236, 3, 147);
text-align: center;
height: 25rem;
box-shadow: 2rem;
border-radius: 1rem;
justify-content: center;

}
.image5{
      height: 25rem;
    width: 37.5rem;
    border-radius: 1rem;
}
.image5:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.services-box6:hover{
    background-color: #18e9d4;
    cursor: pointer;
    transform: scale(1.1);
}
.login-page{
    background-image: url(https://images.pexels.com/photos/2360562/pexels-photo-2360562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    height: 50rem;
    width: 75rem;
    display: flex;
    justify-content: center;
}

.services-box2{
display:block;
}
.login-form{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 40rem;
    background-color: rgb(176, 63, 156);
    text-align: center;
    color: rgb(24, 1, 15);
    border-radius: 1rem;
padding-top: 2rem;
}
.login-form button{
    background-color: #18e9d4;
    height: 3rem;
    width: 10rem;
    font-size: 1.7rem;
    font-family: sans-serif;
border-radius: .5rem;
}
.login-form:hover{
   transform: scale(1.1); 
   background-color: aquamarine;
}
.content{
   font-family: sans-serif; 
    color: hsl(81, 100%, 3%);
    text-decoration: underline   
}
