
body{
    margin: 0;
    padding: 0;
}
.landing-image{
    background-image: url("public/frrrrnt image.jpg");
    width: 75.2rem;
    height: 40rem;
    background-size: cover;
}

.landing-taxt{
    margin: 0;
    background-color: rgb(188, 217, 217);
    font-family: sans-serif;
    width: 75.2rem;
    height: 3rem;
    display: flex;
align-items: center;
justify-content: center;

}

.landing-taxt-h2{
    margin-left: 5rem;
}

.bg{
    background-image: url("public/home image11.jpg");
    background-size: cover;
    height: 40rem;
    width: 75.2rem;
    background-position: center;
    }

.first-logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    margin-left: 2rem
}

.first-logo:hover{
      cursor: pointer;
    transform: scale(1.1);
}

.navbar{
    background-color: rgb(220, 224, 179);
    height: 5rem;
    width: 73.2rem;
    display: flex;
    justify-content: left;
    gap: 3rem;
    font-size: 1.5rem;
    justify-content: left;
    align-items: center;
    padding-right: 2rem;
    font-family: sans-serif;
}


.contact-container{
 background-color: rgb(166, 178, 193);
 height: 35rem;
 width: 75.2rem;
display: flex;
line-height: 4rem;
justify-content: center;
 }
 .contact1{
    height: 2.5rem;
    width: 30rem;
     border-radius: .5rem;
     
 }
  .contact2{
    height: 2.5rem;
    width: 30rem;
     border-radius: .5rem;
 }
  .contact3{
    height: 2.5rem;
    width: 30rem;
    border-radius: .5rem;
 }
  .contact4{
    height: 2.5rem;
    width: 10rem;
    border-radius: .5rem;
 }
 .conatact-us{
    font-size: 3rem;
    margin: 0;
    text-decoration: underline;
    font-family: sans-serif;
 }

.about-content{
    display: flex;
justify-content: center;
align-items: center;
background-color: azure;
height: 30rem;
width: 75.2rem;
gap: 5rem;
}

.about1{
    height: 18rem;
    width: 30rem;
    background-color: rgb(164, 203, 23);
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    line-height: 2rem;
    margin-left: 1rem;
}

.about2{
    height: 18rem;
    width: 30rem;
    background-color: rgb(43, 202, 146);
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    line-height: 2rem;
    transition: all 0.5s ease;
     font-family: sans-serif;
}

 .about3{
    height: 18rem;
    width: 30rem;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 1rem;
align-content: center;
line-height: 2rem;
margin-right: 1rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 }



.foot{
    display: flex;
    justify-content: end;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 71.2rem;
    background-color: rgb(187, 195, 168);
    padding-right: 2rem;
    padding-left: 2rem;
transition: all 0.5s ease;
font-family: sans-serif;
    
}


.footer-instgram{
    height: 2.5rem;
    width: 2.5rem;
border-radius: 50%;
}

.footer-telegram{
    height: 2.5rem;
    width: 2.5rem;
border-radius: 50%;
}

.footer-logo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}

.footer-facebook{
    height: 3rem;
    width: 3rem;
}

.services-container{
    background-color: rgb(198, 231, 220);
    gap: .5rem;
    height: 154rem;
    width: 75rem;
    gap: 2rem;
    text-align: center;
    transition: all 0.5s ease;
}


.services-box-container{
display: grid;
grid-template-columns:  repeat(2,50%);
row-gap: .2rem;
column-gap: .2rem;
width: 100%;
text-align: center;
}

.services-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 183, 206);
    height: 3rem;
    font-family: sans-serif;
    width: 75.2rem;
}
.services-box2{
background-color: #cb95c5;
/* padding: 2rem; */
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 
}

.image1{

    height: 30rem;
    width: 37.5rem   
    
}



.image2{
    height: 30rem;
    width: 37.5rem;

}


.services-box3{
background-color: #b78e14;
/* padding: 2rem; */
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
}


.services-box4{
background-color: rgb(109, 109, 169);
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
 transition: all 0.5s ease;
  font-family: sans-serif;
}

.image3{
      height: 30rem;
    width: 37.5rem;
    
}



.services-box5{
background-color: rgb(168, 40, 171);
height: 30rem;
text-align: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
}

.image4{
      height: 30rem;
    width: 37.5rem;

}





.services-box6{
   /* padding: 2rem;   */
background-color: rgb(236, 3, 147);
text-align: center;
height: 30rem;
box-shadow: 2rem;
justify-content: center;
align-content: center;
line-height: 2rem;
transition: all 0.5s ease;
 font-family: sans-serif;
 
}

.image5{
      height: 30rem;
    width: 37.5rem;
}

.content{
    font-size: 1rem;
   font-family: sans-serif; 
    color: hsl(81, 100%, 3%);
    text-decoration: underline   
    
}
.services-box5 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box6 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box4 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box3 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.services-box2 h3 {
    margin-left: 5rem;
    margin-right: 5rem;
}
.front-image{
    height: 50rem;
    width: 75rem;
}
